.projects {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.projects h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #16a085;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-card {
  position: relative;
  max-width: 350px; /* Increased width */
  height: 350px; /* Increased height */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05); /* Slightly larger hover effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: opacity 0.3s ease;
}

.project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay for contrast */
  color: #ffffff;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.project-card:hover .project-info {
  opacity: 1;
}

.project-info h3 {
  font-size: 26px; /* Larger font size */
  margin-bottom: 15px;
  line-height: 1.3;
}

.project-info p {
  font-size: 18px; /* Larger font size */
  line-height: 1.6;
  margin-bottom: 15px;
}

.project-info ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  font-size: 16px; /* Larger font size */
}

.project-info ul li {
  margin-bottom: 10px;
  position: relative;
}

.project-info ul li::before {
  content: '•';
  color: #16a085; /* Bullet color */
  position: absolute;
  left: -20px; /* Adjusted position */
}

.github-link {
  font-size: 12px; /* Smaller font size */
  color: #ffffff;
  background-color: #16a085;
  border: none;
  border-radius: 50%; /* Circular button */
  padding: 6px;
  text-decoration: none;
  margin-top: 0px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.github-link i {
  font-size: 16px; /* Adjust icon size */
}

.github-link:hover {
  background-color: #1abc9c;
  transform: scale(1.1);
}

.github-link:focus {
  outline: none;
}
